
:root {

    --hover-color-link: #2196F3;
}

body {
    
    font-family: Roboto, sans-serif;
}

/* Логотип */



.logo {

    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #2196F3;

}

.logo-studio-header {

    color: #000000;
}

.logo-studio-footer {
    color: #FFFFFF;
}

/* Навігація */

.nav-list {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.nav-list:hover {

    color: var(--hover-color-link);
}

.nav-list:focus {

    color: #2196F3;
}

.nav-list.current {
    color: var(--hover-color-link);
}


/* Контакти */

.contacts-header {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.contacts-header:hover {

     color: var(--hover-color-link);
}

/* Заголовок */

.main-title {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-title-background {

    background: #2F303A;
    
}

/* Кнопка заголовка */

.button-title {

    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
}

/* Наши преимущества */

.title-advantages {

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;

}

.advantages-content {

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Чем мы занимаемся */

.subtitle {

    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}

/* Наша  команда */

.team-names {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: #212121;
}

.name-subtitle {

    font-size: 16px;
    line-height: 1.18;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: #757575;
}

/* Footer */

.contacts-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.contacts-footer:hover {
    color: var(--hover-color-link);
}

.footer-address:hover {
    color: var(--hover-color-link);
}

footer {
    background-color: #2F303A;
}

/* Портфолио */

.button-portfolio {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
}

.button-portfolio:hover {
    background-color: var(--hover-color-link);
}

.title-portfolio {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;

}

.subtitle-portfolio {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;

}